@charset "utf-8";
.blog{
  margin:20px;
  padding:20px;
  border:1px solid #dbe0e4;
  border-radius:10px;
  box-shadow:1px 1px 4px #ede8dd;
}
.blog-left{
  float:left;
}
.blog-right{
  float:center;
}
.clear{
  clear:both;
}
.blog-image {
  width:100%;
  margin-bottom:20px;
  border-radius:5px;
}
