@charset "utf-8";
.blog{
  position:relative;
}
.blog a{
  position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
}
.blog{
  margin:20px;
  padding:20px;
  border:1px solid #dbe0e4;
  border-radius:10px;
  box-shadow:1px 1px 4px #ede8dd;
}
.blog-left{
  margin-top:20px;
}
.blog-right{
  padding:20px;
  float:auto;
}
.clear{
  clear:both;
}
.blog-image {
  width:100%;
  margin-bottom:20px;
  border-radius:5px;
}
.border-right h2{
  opacity:0.8;
}
.course {
  padding-top:140px;
  padding-bottom:100px;
  text-align:center;
}
.course-title{
  border:10px outset #e1bfff;
}
.course-subtitle{
  border-left:10px solid #e1bfff;
  border-bottom:5px solid #e1bfff;
}
h2,h3,h4{
  margin-top:10px;
  font-family:sans-serif;
  text-alien:left;
}
p{
  font-family:serif;
}
.table-of-contents{
  border:1px solid #e1bfff;
  background-color:#f8f0ff;
}
.table-of-contents a{
  text-align:right;
}

.scroll {
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 0 0 12px 8px;
  display: -ms-flexbox;
  display: flex; }

/* 画面幅が768px以上の場合、横スクロールを解除 */
@media screen and (min-width: 768px) {
  .scroll {
    overflow-x: inherit;
    padding: 0 8px 6px; } }

.scroll > li {
  width: 100%;
  min-width: 140px; }

@media screen and (min-width: 768px) {
  .scroll > li {
    min-width: inherit; } }

.scroll > li:not(:last-child) {
  margin-right: 5px; }

.scroll > li:last-child {
  padding-right: 5px; }

@media screen and (min-width: 768px) {
  .scroll > li:last-child {
    padding-right: 0; } }

.scroll img {
  vertical-align: bottom; }
