@charset "utf-8";
.blog{
  margin:0 20px;
  padding:20px;
  border:1px solid #dbe0e4;
  border-radius:10px;
  box-shadow:1px 1px 4px 10px #ffffff
}
.blog-left{
  float:left;
}
.blog-right{
  float:right;
}
.clear{
  clear:both;
}
