@charset "utf-8";

.menu {
  padding:90px 0 60px;
  color:#5a5c5f;
}

.menu-card {
  width:33%;
  margin-top:35px;
}

.menu-card-inner {
  padding:25px 30px;
  background-color:#fff0cc;
  border-radius:7px;
  box-shadow:1px 1px 4px #ede8dd;
  text-align:center;
}

.menu-image {
  width:100%;
  margin-bottom:20px;
  border-radius:5px;
}

.menu-title {
  margin-bottom:8px;
}

.menu-card-inner p {
  font-size:14px;
}

.menu-card-wrapper {
  display:flex;
  flex-wrap:wrap;
  margin:20px 20px;
}

.twitter-card-inner {
  padding:25px 30px;
  background-color:#7adcff;
  border-radius:7px;
  box-shadow:1px 1px 4px #ede8dd;
  text-align:center;
}

.youtube-card-inner {
  padding:25px 30px;
  background-color:#ff4a4a;
  border-radius:7px;
  box-shadow:1px 1px 4px #ede8dd;
  text-align:center;
}

.discord-card-inner {
  padding:25px 30px;
  background-color:#7581ff;
  border-radius:7px;
  box-shadow:1px 1px 4px #ede8dd;
  text-align:center;
}

.menu-card a {
  position: absolute;
}
